[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/casm-lang/libgtest
	branch = master
[submodule "lib/hayai"]
	path = lib/hayai
	url = https://github.com/casm-lang/libhayai
	branch = master
